body {
	padding-top: 5px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.country, .competition, .season, .day {
	.button {
		@extend .button;
		margin: 10px;
		width: 210px;
		height: 75px;
		vertical-align: middle;
	}
}