<nav class="breadcrumbs">
    <a href="#/countries/">Countries</a>
    <a href="#/countries/{{ countryId }}/competitions/">Competitions</a>
    <a href="#/countries/{{ countryId }}/competitions/{{ competitionId }}/seasons/">Seasons</a>
    <a href="#/countries/{{ countryId }}/competitions/{{ competitionId }}/seasons/{{ seasonId }}/days">Days</a>
    <a class="current" href="#">Matches</a>
</nav>

<!-- Main Grid Section -->

<div class="clearfix match">
  <table>
      <thead>
        <tr>
          <th width="250">Home</th>
          <th width="50" class="center">Score</th>
          <th width="250" class="right">Away</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="match in matches">
          <td class="match" animate-on-change="match.home_goals + match.away_goals">{{ match.home_team_name }}</td>
          <td class="match" align="center" animate-on-change="match.home_goals + match.away_goals">{{ match.home_goals }} - {{ match.away_goals }}</td>
          <td class="match" align="right" animate-on-change="match.home_goals + match.away_goals">{{ match.away_team_name }}</td>
        </tr>
      </tbody>
  </table>
</div>
 
<!-- End Grid Section -->
    